html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

#text-zone {
    height: 240px;
}

#scene {
    height: 480px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../assets/mountain_volcano.png");
}

#text-output {
    height: 187px;
    background: #222;
    padding: 15px;
    overflow-y: scroll;

    .message {
        margin: 0.5em 0;
        color: #EEE;

        .protagonist {
            font-weight: 700;
            width: 100px;
            display: inline-block;
            text-align: right;
        }

        p {
            display: inline-block;
        }

        em {
            font-weight: bold;
            font-style: normal;
        }

        &.message-narator {
            text-align: center;
            padding: 0 3em;
            margin: 1em 0;
            color: #af83ec;

            em {
                color: #af83ec;
            }
        }

        &.message-hero {
            .protagonist {
                color: #4c95f4;
            }
            
            em {
                color: #4c95f4;
            }
        }

        &.message-event {
            .protagonist {
                color: #f6ab4b;
            }

            em {
                color: #f6ab4b;
            }
        }
    }
}

#text-input {
    color: #DDD;
    padding: 5px;
    background: #333;
    position: relative;

    &:after {
        position: absolute;
        left: 15px;
        top: 13px;
        font-size: 20px;
        color: #4c95f4;
        font-weight: 700;
        content: "Héro: "
    }

    input {
        border-radius: 5px;
        padding: 10px 10px 10px 70px;
        font-size: 20px;
        color: #FFF;
        border: 0;
        background: #444; 
        transition: box-shadow 120ms ease-in-out;

        &:focus {
            outline: none;
            box-shadow: 0 0 0 2px rgba(#198bee, .5);
        }
    }
}

input[name="text-input"] {
    width: 100%;
}

body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

p {
    margin: 0;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}